.techs {
   background-color: #272727;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
} 
.techs__container {
   max-width: 1280px;
   width: 100%;
   padding: 100px 70px;
   display: flex;
   box-sizing: border-box;
   align-items: center;
   flex-direction: column;
}
.techs__title {
   width: 100%;
   margin: 0;
   font-weight: 400;
   font-size: 22px;
   line-height: 1.23;
   letter-spacing: -0.04em;
   border-bottom: 1px solid white;
   padding-bottom: 23px;
} 
.techs__heading {
   font-style: normal;
   font-weight: 400;
   font-size: 50px;
   line-height: 58px;
   text-align: center;
   letter-spacing: -0.04em;
   margin-top: 90px;
   margin-bottom: 0;
} 
.techs__description {
   max-width: 460px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
   text-align: center;
   letter-spacing: -0.04em;
   margin-top: 26px;
   margin-bottom: 100px;
} 
.techs__items {
   display: grid;
   grid-template-columns: repeat(auto-fill, 90px);
   justify-content: center;
   max-width: 700px;
   width: 100%;
   list-style: none;
   padding: 0;
   gap: 10px;
   margin: 0;
}
.tech__item {
   background-color: #303030;
   border-radius: 10px;
   margin: 0;
   padding: 21px 0;
   text-align: center;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.21;
   letter-spacing: -0.04em;
}
@media screen and (max-width: 800px) {
   .techs__container {
      padding: 90px 50px;
      background-color: #202020;
   }
   .techs__items {
      grid-template-columns: repeat(auto-fill, 84px);
   }
}
@media screen and (max-width: 400px){
   .techs__container {
      padding: 70px 14px;
   }
   .techs__heading {
      font-size: 30px;
      line-height: 36px;
      letter-spacing: -0.04em;
      margin-top: 60px;
   }
   .techs__description {
      font-size: 11px;
      line-height: 16px;
      letter-spacing: -0.04em;
      margin-top: 24px;
      margin-bottom: 50px;
   }
   .techs__items {
      max-width: 180px;
   }
}